/* biens.css */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.image {
    flex: 1 1 50%;
    max-width: 100%;
    text-align: center;
}

.image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.info {
    flex: 1 1 50%;
    padding-left: 20px;
}

.title {
    text-align: center;
    margin-bottom: 20px; /* Ajoute de l'espace sous le titre */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    margin: 0;
}

.agent-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.agent-card:hover {
    transform: scale(1.05);
}

.agent-card img {
    border-radius: 50%;
    width: 150px;
    height: 150px; /* Taille de l'image */
    object-fit: cover; /* Remplir l'espace disponible */
}

.agent-card .specialty {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.agents {
    display: flex; /* Afficher les agents sur la même ligne */
    flex-wrap: wrap; /* Permettre le retour à la ligne si nécessaire */
    justify-content: center; /* Centrer les agents horizontalement */
    align-items: center; /* Centrer les images verticalement */
}

iframe {
    max-width: 100%;
    width: 100%; /* Ajuste la largeur de la carte */
    height: 300px; /* Hauteur de la carte */
    border: none; /* Supprimer les bordures de l'iframe */
    margin-top: 20px; /* Ajouter une marge au-dessus de la carte */
}
