/* biens.css */

.container {
    display: flex;
}


.image {
    flex: 0 0 50%;
}

.info {
    flex: 0 0 50%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.title {
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0;
}
.agent-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}
.agent-card:hover {
    transform: scale(1.05);
}
.agent-card img {
    border-radius: 50%;
    width: 150px;
    height: 150px; /* Taille de l'image */
    object-fit: cover; /* Remplir l'espace disponible */
    box-align:center
}   

.agent-card .specialty {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}
.agents {
    display: flex; /* Afficher les agents sur la même ligne */
    flex-wrap: wrap; /* Permettre le retour à la ligne si nécessaire */
    justify-content: center; /* Centrer les agents horizontalement */
    align-items: center; /* Centrer les images verticalement */
}

