
section h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.intro, .features {
    margin-top: 20px;
}

.intro h3, .features h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.features ul {
    list-style: disc inside;
}

.features ul li {
    margin-bottom: 5px;
}


footer {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}

footer p {
    font-size: 0.9em;
    color: #777;
}

/* Styles pour le carrousel */
#carrousel {
    width: 100%;
    max-width: 700px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
}

#carrousel ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#carrousel li {
    display: none;
}

#carrousel img {
    width: 100%;
    display: block;
}
