body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0;
}

h1, h2 {
    text-align: center;
    color: #333;
}

form {
    margin: 0 auto;
    width: 60%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

label {
    font-weight: bold;
}

input[type="text"], input[type="submit"] {
    padding: 8px;
    margin: 5px 0;
    width: calc(100% - 22px);
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: rgb(135.206.250);
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.thumbnail {
    max-width: 100px;
    max-height: 100px;
}

.container {
    display: flex;
}

.image {
    flex: 0 0 60%;
}

.info {
    flex: 0 0 40%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.title {
    text-align: center;
}

.agent-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.agent-card:hover {
    transform: scale(1.05);
}

.agent-card img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.agent-card .specialty {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.agents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}