
        #content {
            display: flex;
            flex-direction: column; 
            align-items: center;
            margin: 20px; 
        }

        #carrousel {
            width: 40%;
            height: 400px; 
            overflow: hidden;
            margin: 20px 0; 
        }
        
        #carrousel ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            transition: transform 1s ease-in-out;
        }
        
        #carrousel ul li {
            flex: 0 0 100%;
            overflow: hidden; 
        }

        #carrousel ul li img {
            width: 100%;
            height: 100%;
            object-fit: cover; 
            object-position: center; 
        }

        .intro, .bulletin {
            width: 60%; 
            margin: 20px 0; 
            text-align: center;
        }

        .offer-box {
            border: 2px solid #000; 
            padding: 10px; 
            margin-top: 20px; 
            text-align: center; 
            background-color: #f9f9f9; */
            font-weight: bold; 
        }

        footer {
            display: flex; 
            justify-content: space-between; 
            border-top: 2px solid #000; 
            padding: 20px; 
            background-color: #376b8c; 
            color: white; 
            bottom: 0; 
            left: 0; 
            right: 0; 
            width: 100%; 
            
        }

        h3, h1{
            text-align: center;
        }
        .footer-content {
    flex: 1; 
    max-width: 50%; 
}

.footer-map {
    flex: 1; 
    max-width: 50%; 
    height: 200px;
}
        .footer-map iframe {
            width: 100%;
            height: 100%;
            border: 0;
        }