body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#wrapper {
    text-align: center;
    color: white;
   
}

header {
    padding: 20px 0;
    background-color: #376b8c;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    color : white;
}

nav ul li {
    margin: 0 15px;
    color: white;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

hr {
    border: 0;
    height: 1px;
    background-color: white;
    margin: 0;
}
